.burger-container{
  display: none;
}

.sidebar-mobile{
  padding: 0;
  height: 84vh;
}

.sidebar__group-mobile{
  margin-top: 20px;
}

#menuToggle {
  display: block;
  
  position: absolute;
  top: 22px;
  left: 35px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
  * Just a quick hamburger
  */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #ffffff;
}

/*
  * But let's hide the middle one.
  */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
  * Ohyeah and the last one should go the other direction
  */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
  * Make this absolute positioned
  * at the top left of the screen
  */
#menu {
  position: absolute;
  max-width: 300px;
  width: 100vw;
  max-height: 100vh;
  margin: -100px 0 0 -50px;
  padding-left: 25px;
  padding-top: 125px;
  box-sizing: border-box;
  overflow-y: auto;
  background: #0d1d32;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menu li label {
  cursor: pointer;
}

/*
  * And let's slide it in from the left
  */
#menuToggle input:checked ~ ul {
  transform: none;
}

.header-navbar-mobile {
  display: flex;
  max-width: 650px;
  width: 100%;
  justify-content: space-between;
  display: none;
}

.header-navbar-mobile__avatar {
  width: 60px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background: #fff;
}

.header-navbar-icon {
  width: 30px;
  height: 30px;
}

.header-navbar-picture {
  width: 60px;
  height: 60px;

  border-radius: 50%;
  object-fit: cover;
}

.header__block-mobile {
  display: none;
}

.modal {
  display: flex;
  position: absolute;
  top: 120px;
  left: 0;
  width: 100%;
  height: 100svh;
  padding: 0 10px 0 10px;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.5); */
  opacity: 1;
  animation: modal-show 0.5s 1 forwards;
}

.modal-content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100svh;
  border-radius: 25px;
  background-color: white;
}

.circleProgress-container {
  position: relative;
  width: 75px;
  height: 55px;
}

.circleProgress_wrapper {
  position: absolute;
  top: 0;
  left: 7px;
  width: 3rem;
  height: 3rem;
  margin: 0.5rem auto;
  text-align: center;
  -moz-transform: scale(1.3, 1.3);
  -ms-transform: scale(1.3, 1.3);
  -webkit-transform: scale(1.3, 1.3);
  -o-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}
.right {
  right: 0;
}
.wrapper {
  position: absolute;
  width: 1.5rem;
  height: 3rem;
  top: 0;
  overflow: hidden;
}
.circleProgress {
  width: 2.2rem;
  height: 2.2rem;
  border: 0.4rem solid #daecf7;
  border-radius: 50%;
  box-sizing: content-box;
  position: absolute;
  top: 0;
}
.rightcircle {
  border-top: 0.4rem solid #fa0400;
  border-right: 0.4rem solid #fa0400;
  right: 0;
}
.leftcircle {
  border-bottom: 0.4rem solid #fa0400;
  border-left: 0.4rem solid #fa0400;
  left: 0;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.right_cartoon {
  -webkit-animation: circleProgressLoad_right 10s linear infinite forwards;
  animation: circleProgressLoad_right 10s linear infinite forwards;
}
.left_cartoon {
  -webkit-animation: circleProgressLoad_left 10s linear infinite forwards;
  animation: circleProgressLoad_left 10s linear infinite forwards;
}

.timer-mobile-block {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 35px;
  height: 35px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
  border-radius: 50%;
  background: #fafafa;
}

.timer-mobile-block > h4 {
  font-size: 18px;
  color: #636589;
  height: 18px;
  line-height: 22px;
}

.timer-mobile-block > p {
  font-size: 5px;
  color: #636589;
  line-height: 8px;
}

@keyframes circleProgressLoad_right {
  0% {
    -webkit-transform: rotate(46deg);
    transform: rotate(46deg);
  }

  50%,
  to {
    -webkit-transform: rotate(-136deg);
    transform: rotate(-136deg);
  }
}

@keyframes circleProgressLoad_left {
  0%,
  50% {
    -webkit-transform: rotate(46deg);
    transform: rotate(46deg);
  }

  to {
    -webkit-transform: rotate(-136deg);
    transform: rotate(-136deg);
  }
}

.header__block-mobile__right {
  width: 325px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.notfilication-mobile {
  width: 60px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;
  background: #f94970;
  border-radius: 50%;
}

.notfilication-mobile > img {
  width: 30px;
  height: 30px;
  object-fit: cover;

  filter: brightness(0) invert(1); /* Сделать SVG белым */
}

.header__block-mobile {
  position: relative;
  max-width: 650px;
}

.header__block-mobile__right > input {
  max-width: 255px !important;
  width: 100%;
  height: 30px;
  resize: none;
  border: 2px solid #b4b4b5;
  background: #f4f5f9;
  border-radius: 10px;
  outline: none;
}

@media screen and (max-width: 1440px) {
  .sidebar {
    /* display: none; */
    width: 200px;
    padding-right: 50px;
  }
  .container {
    max-width: 100%;
    justify-content: center;
  }
  .sidebar__block > img {
    width: 19px;
    height: 19px;
  }
  .sidebar__block > p {
    font-size: 12px;
  }
  .waiting-block > p {
    font-size: 9px;
  }
  .main {
    max-width: 1062px;
    width: 100%;
  }
  .header {
    width: 100%;
  }
  .header-profile {
    max-width: 530px;
  }
  .boy-side {
    width: 300px;
  }
  .boy-side__form__block > h4 {
    font-size: 12px;
  }
  .boy-side__form__block > input {
    width: 90px;
  }
  .girl-side__form__block > h4 {
    font-size: 12px;
  }
  .girl-side__form__block > input {
    width: 90px;
  }
  .shared-images__block > img {
    width: 65px;
    height: 65px;
  }
  .chat {
    max-width: 500px;
  }
  .girl-side {
    width: 300px;
  }
}

@media screen and (max-width: 1225px) {
  .chat {
    max-width: 450px;
  }
  .boy-side {
    width: 280px;
  }
  .girl-side {
    width: 280px;
  }
  .msg-bubble {
    max-width: 330px;
  }
}

@media screen and (max-width: 1024px) {
  .sidebar {
    display: none;
  }
  .sidebar-mobile{
    display: block;
  }
  .burger-container{
    display: flex;
  }
  .timer {
    margin-left: 70px;
  }
  .information_block > h4 {
    font-size: 13px;
  }
  .information_block > span {
    font-size: 12px;
  }
  .header {
    border-radius: 15px 15px 0 0;
  }
  .shared-images__block > img {
    width: 75px;
    height: 75px;
  }
  .shared-images__block {
    grid-template-columns: 1fr 1fr;
    gap: 12px 45px;
  }
  .boy-side {
    border-radius: 0 0 0 15px;
  }
}

@media screen and (max-width: 986px) {
  .boy-side {
    display: none;
  }
  .chat {
    max-width: 590px;
  }
  .messenger-block {
    justify-content: center;
  }
  .girl-side {
    width: 372px;
  }
}

@media screen and (max-width: 830px) {
  .header-profile{
    max-width: 470px;
  }
  .chat{
    max-width: 490px;
  }
  .girl-side{

  }
}

@media screen and (max-width: 767px) {
  .container{
    padding: 0 1% 0 1%;
  }  
  .girl-side {
    display: none;
  }
  .header-navbar-mobile {
    display: flex;
  }
  .header {
    background: #f8f6f7;
    height: auto;
    justify-content: center;
    padding: 15px 15px 15px 15px;
    flex-direction: column;
    gap: 20px;
  }
  .header__block {
    display: none;
  }
  .header__block-mobile {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .chat {
    max-width: 100%;
  }
  .msg-bubble {
    max-width: 430px;
    width: 100%;
  }
  .boy-side-mobile{
    display: block;
    width: 100%;
    height: 100%;
  }
  .shared-images__block-mobile{
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
  .shared-images__block-mobile > img {

  }
}

@keyframes modal-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
