.burger-container {
  display: none;
  background: red;
}

.sidebar-mobile {
  padding: 0;
  height: 84vh;
}

.sidebar__group-mobile {
  margin-top: 20px;
}

#menuToggle {
  display: block;

  position: absolute;
  top: 22px;
  left: 35px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
  * Just a quick hamburger
  */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-21px, -21px);
  background: #ffffff;
}

/*
  * But let's hide the middle one.
  */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.3, 0.3);
}

/*
  * Ohyeah and the last one should go the other direction
  */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -2px);
}

/*
  * Make this absolute positioned
  * at the top left of the screen
  */
#menu {
  position: absolute;

  max-width: 350px;
  width: 100vw;
  height: 100vh;
  top: 0;
  padding-left: 20px;
  padding-top: 100px;
  box-sizing: border-box;

  overflow-y: auto;
  background: #0d1d32;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menu li label {
  cursor: pointer;
}

/*
  * And let's slide it in from the left
  */




.header-navbar-mobile {
  display: flex;
  max-width: 650px;
  width: 100%;
  justify-content: space-between;
  display: none;
}

.header-navbar-mobile__avatar {
  width: 60px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;

  border-radius: 50%;
}

.header-navbar-mobile__avatar:nth-child(2) {
  border: 2px solid #e6576a;
}

.header-navbar-mobile__avatar:nth-child(3) {
  border: 2px solid #e6576a;
}

.header-navbar-mobile__avatar:nth-child(4) {
  border: 2px solid #34bbd7;
}

.header-navbar-mobile__avatar:nth-child(5) {
  border: 2px solid #34bbd7;
}

.header-navbar-mobile__avatar:nth-child(6) {
  position: relative;
}

.header-boy__block {
  display: flex;
  align-items: center;
}

.header-boy-mobile {
  display: none;
}

.header-boy-mobile > img {
  width: 50px;
  height: 50px;

  border: 2px solid #34bbd7;
}

.notfilication-num {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 12px;
  right: 11px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 11px;
  color: #fff;
  background: #f8659f;
}

.header-navbar-icon {
  width: 30px;
  height: 30px;
}

.header-navbar-picture {
  width: 100%;
  height: 100%;

  border-radius: 50%;
  object-fit: cover;
}

.header__block-mobile {
  display: none;
}

.modal {
  display: block;
  position: absolute;
  top: 120px;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 0 10px 0 10px;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.5); */
  opacity: 1;
  animation: modal-show 0.5s 1 forwards;
}

.modal-boy {
  display: block;
}

.modal-girl {
  display: none;
}

.modal-content-boy,
.modal-content-girl {
  position: relative;
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  height: 100svh;
  border-radius: 25px;
  background-color: white;
}

.circleProgress-container {
  position: relative;
  width: 75px;
  height: 55px;
}

.circleProgress_wrapper {
  position: absolute;
  top: 0;
  left: 7px;
  width: 3rem;
  height: 3rem;
  margin: 0.5rem auto;
  text-align: center;
  -moz-transform: scale(1.3, 1.3);
  -ms-transform: scale(1.3, 1.3);
  -webkit-transform: scale(1.3, 1.3);
  -o-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}
.right {
  right: 0;
}
.wrapper {
  position: absolute;
  width: 1.5rem;
  height: 3rem;
  top: 0;
  overflow: hidden;
}
.circleProgress {
  width: 2.2rem;
  height: 2.2rem;
  border: 0.4rem solid #daecf7;
  border-radius: 50%;
  box-sizing: content-box;
  position: absolute;
  top: 0;
}
.rightcircle {
  border-top: 0.4rem solid #fa0400;
  border-right: 0.4rem solid #fa0400;
  right: 0;
}
.leftcircle {
  border-bottom: 0.4rem solid #fa0400;
  border-left: 0.4rem solid #fa0400;
  left: 0;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.right_cartoon {
  -webkit-animation: circleProgressLoad_right 10s linear infinite forwards;
  animation: circleProgressLoad_right 10s linear infinite forwards;
}
.left_cartoon {
  -webkit-animation: circleProgressLoad_left 10s linear infinite forwards;
  animation: circleProgressLoad_left 10s linear infinite forwards;
}

.timer-mobile-block {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 35px;
  height: 35px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
  border-radius: 50%;
  background: #fafafa;
}

.timer-mobile-block > h4 {
  font-size: 18px;
  color: #636589;
  height: 18px;
  line-height: 22px;
}

.timer-mobile-block > p {
  font-size: 5px;
  color: #636589;
  line-height: 8px;
}

.chat-header-mobile {
  max-width: 650px;
  width: 100%;
  display: none;
  justify-content: space-between;
}

.chat-header-mobile__profile {
  display: none;
  align-items: center;
  gap: 15px;
}

.chat-header-mobile__profile > img {
  width: 60px;
  height: 60px;

  object-fit: cover;
  border-radius: 50%;

  border: 2px solid #e6576a;
}

.chat-header-mobile__profile > h4 {
  font-size: 18px;
}

.chat-header-mobile__icons {
  display: none;
  align-items: center;

  gap: 10px;
}

.chat-header-mobile__icons > img {
  width: 30px;
  height: 30px;

  object-fit: cover;
}

@keyframes circleProgressLoad_right {
  0% {
    -webkit-transform: rotate(46deg);
    transform: rotate(46deg);
  }

  50%,
  to {
    -webkit-transform: rotate(-136deg);
    transform: rotate(-136deg);
  }
}

@keyframes circleProgressLoad_left {
  0%,
  50% {
    -webkit-transform: rotate(46deg);
    transform: rotate(46deg);
  }

  to {
    -webkit-transform: rotate(-136deg);
    transform: rotate(-136deg);
  }
}

.header__block-mobile__right {
  width: 325px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__block-mobile__right__time-block {
  max-width: 249px;
  width: 100%;
  height: 70px;
  padding: 10px 10px 1px 10px;

  background: #ffccd0;
  border-radius: 15px;
  overflow-y: auto;
}

.header__block-mobile__right__time-block > p {
  font-size: 18px;
  font-weight: 10px;
  font-weight: 600;
  height: 100%;
}

.notfilication-mobile {
  position: relative;
  width: 60px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;
  background: #f94970;
  border-radius: 50%;
}

.notfilication-mobile__plus {
  position: absolute;
  top: 22px;
  right: 3px;

  color: #fff;
  font-size: 45px;
  font-weight: 600;
}

.notfilication-mobile > img {
  width: 30px;
  height: 30px;
  object-fit: cover;

  filter: brightness(0) invert(1); /* Сделать SVG белым */
}

.header__block-mobile {
  position: relative;
  max-width: 650px;
}

.header__block-mobile__right > input {
  max-width: 255px !important;
  width: 100%;
  height: 30px;
  resize: none;
  border: 2px solid #b4b4b5;
  background: #f4f5f9;
  border-radius: 10px;
  outline: none;
}

@media screen and (max-width: 1440px) {
  .sidebar {
    /* display: none; */
    width: 200px;
    padding-right: 50px;
  }
  .container {
    max-width: 100%;
    justify-content: center;
  }
  .sidebar__block > img {
    width: 19px;
    height: 19px;
  }
  .sidebar__block > p {
    font-size: 12px;
  }
  .waiting-block > p {
    font-size: 9px;
  }
  .main {
    max-width: 1062px;
    width: 100%;
  }
  .header {
    width: 100%;
  }
  .header-profile {
    max-width: 530px;
  }
  .boy-side {
    width: 300px;
  }
  .boy-side__form__block > h4 {
    font-size: 12px;
  }
  .boy-side__form__block > input {
    width: 90px;
  }
  .girl-side__form__block > h4 {
    font-size: 12px;
  }
  .girl-side__form__block > input {
    width: 90px;
  }
  .shared-images__block > img {
    width: 65px;
    height: 65px;
  }
  .chat {
    max-width: 500px;
  }
  .girl-side {
    width: 300px;
  }
}

@media screen and (max-width: 1225px) {
  .chat {
    max-width: 450px;
  }
  .boy-side {
    width: 280px;
  }
  .girl-side {
    width: 280px;
  }
  .msg-bubble {
    max-width: 330px;
  }
}

@media screen and (max-width: 1024px) {
  .sidebar {
    display: none;
  }
  .sidebar-mobile {
    display: block;
  }
  .burger-container {
    display: flex;
  }
  .timer {
    margin-left: 10px;
  }
  .header-boy__block {
    padding-left: 70px;
  }
  .header-boy-mobile {
    display: flex;
  }
  .information_block > h4 {
    font-size: 13px;
  }
  .information_block > span {
    font-size: 12px;
  }
  .header {
    border-radius: 15px 15px 0 0;
  }
  .shared-images__block > img {
    width: 75px;
    height: 75px;
  }
  .shared-images__block {
    grid-template-columns: 1fr 1fr;
    gap: 12px 45px;
  }
  .boy-side {
    border-radius: 0 0 0 15px;
  }
}

@media screen and (max-width: 986px) {
  .boy-side {
    display: none;
  }
  .boy-side-mobile {
    display: block;
    width: 100%;
    height: 100vh;
    padding: 0;
  }
  .modal-boy {
    top: 75px;
  }
  .shared-images__block {
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 12px 5px;
  }
  .shared-images__block > img {
    width: 85px;
    height: 85px;
  }
  .chat {
    max-width: 590px;
    height: 100%;
  }
  .messenger-block {
    justify-content: center;
  }
  .girl-side {
    width: 372px;
  }
}

@media screen and (max-width: 920px) {
  .header-profile {
    max-width: 420px;
  }
  .header-profile__hints {
    width: 200px;
  }
  .chat {
    max-width: 530px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 0 1% 0 1%;
  }
  .girl-side {
    display: none;
  }
  .modal-girl-side{
    padding: 0;
    height: 100vh;
  }
  .girl-side__form{
    display: none;
  }
  .girls-side__information{
    width: 100%;
  }
  .profile-block__buttons{
    gap: 10px 30px;
  }
  .modal-girl-side{
    display: block;
    width: 100%;
  }
  .header-navbar-mobile {
    display: flex;
  }
  .header {
    background: #f8f6f7;
    height: auto;
    justify-content: center;
    padding: 15px 15px 15px 15px;
    flex-direction: column;
    gap: 20px;
  }
  .burger-container{
    display: none;
  }
  .header__block {
    display: none;
  }
  .header__block-mobile {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .chat {
    max-width: 100%;
  }
  .chat-header {
    padding: 5px 15px 0 15px;
    justify-content: center;
    border-top: 1px solid #cecece;
  }
  .chat-header-mobile {
    display: flex;
  }
  .modal-boys{
    top: 90px;
  }
  .chat-header-mobile__profile {
    display: flex;
  }
  .chat-header-mobile__icons {
    display: flex;
  }
  .msg-bubble {
    max-width: 430px;
    width: 100%;
  }
  .girl-side-mobile {
    display: block;
    width: 100%;
    height: 100vh;
  }
  .shared-images__block-mobile {
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
  .chat-header__information {
    display: none;
  }
  .chat-header__buttons {
    display: none;
  }
}

@media screen and (max-width: 680px) {
  .msg-bubble {
    max-width: 320px;
  }
  .msger-chat {
    padding: 20px 5px 10px 0;
  }
  .send-message-block {
    gap: 15px;
  }
}

@media screen and (max-width: 517px) {
  .header{
    padding: 10px;
  }
  .header-navbar-mobile__avatar {
    width: 50px;
    height: 50px;
  }
  .circleProgress_wrapper {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  .header__block-mobile__right{
    width: 265px;
  }
  .header__block-mobile__right__time-block {
    max-width: 209px;
    width: 100%;
    height: 45px;
  }
  .header__block-mobile__right__time-block > p{
    font-size: 15px;
  }
  .circleProgress_wrapper {
    left: 2px;
  }
  .notfilication-mobile{
    width: 45px;
    height: 45px;
  }
  .notfilication-num{
    top: 10px;
    width: 16px;
    height: 16px;
    right: 9px;
  }
  .notfilication-mobile__plus{
    font-size: 30px;
    top: 19px;
  }
  .modal-girls{
    top: 60px;
  }
  .chat-header-mobile__profile > img{
    width: 50px;
    height: 50px;
  }
  .chat-header-mobile__profile > h4{
    font-size: 16px;
  } 
  .chat-header-mobile__icons {
    gap: 15px;
  }
  .chat-header-mobile__icons > img {
    width: 25px;
    height: 25px;
  }
  .left-msg{
    padding-left: 10px;
  }
  .modal-boys {
    top: 75px;
  }
}

@media screen and (max-width:460px) {
  .header{
    padding: 10px;
  }
  .chat-header{
    padding: 5px 10px 0 10px;
  }
  .msger-chat{
    padding: 20px 10px 80px 10px;
  }
  .msg-bubble{
    max-width: 300px;
  }
  .left-msg{
    padding-left: 0;
    flex-direction: row;
  }
  .right-msg{
    flex-direction: row-reverse;
    padding-left: 0;
  }
  .msg-bubble-left{
    margin-left: 0;
  }
  .msg-bubble-right{
    margin-right: 0;
  }
  .shared-images__block{
    gap: 15px 12px;
    grid-template-columns: auto auto auto;
  }
  .shared-images__block > img{
    width: 75px;
    height: 75px;
  }
}

@keyframes modal-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


